*{
    margin: 0;
}
.btn-primary {
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 21px 25px 20px 26px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;
}

.header {
    background: #a32e24;
    background-image: url('images/banner/banner2.png');
    height: 809px;  
}
/* banner styles */
.banner {
    /* align-items: center; */
    display: flex;
    text-align: right;
    padding-top: 215px;
    padding-left: 845px;
    padding-right: 250px;
    padding-bottom: 364px;
    /* margin: 0px 25px 2391px 25px; */
}

.banner-title {
    width: 525px;
    height: 228px;
    left: 830px;
    top: 216px;
    font-size: 65px;
}

.banner-description {
    text-align: right;
    width: 494px;
    height: 78px;
    left: 876px;
    top: 468px;
    font-size: 16px;
    line-height: 26px;
}
